body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease-in-out;
    background: linear-gradient(135deg, #74ebd5, #acb6e5);
    color: #333;
}

.container {
    width: 90%;
    max-width: 400px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

.input {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.input input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 60%;
    font-size: 16px;
    transition: all 0.3s;
}

.input input:focus {
    outline: none;
    border-color: #0099ff;
    box-shadow: 0 0 5px #0099ff;
}

.input button {
    padding: 10px 15px;
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.input button:hover {
    background-color: #007acc;
}


.weather-box {
    padding: 20px;
}

.icon img {
    width: 100px;
    height: 100px;
}

.weather-time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}

 .temperature, .description, .humidity,.wind,.details div {
    margin-bottom: 10px;
}

.details {
    font-size: 14px;
    color: #555;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}